<!DOCTYPE html>
<html>
  <head>
    <title>YinkaPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
			.container {
				width: 60%;
				margin: 20px auto;
				border: 1px solid #ddd;
				padding: 20px;
			}
		</style>
  </head>
	
  <body>
    <%= yield %>
  </body>
</html>
